{% load socialaccount %}
{% if user.is_authenticated %}
   <p>Welcome {{ user.username }} !!!</p>
{% else %}
   <a href="{% provider_login_url 'google' %}">Sign Up</a>
{% endif %}


{% load staticfiles %}
<!DOCTYPE html>
<html  class="no-js" lang="">
    <head>
        {# Make modifiable head elements #}
	<title>API Testing Suite | {% block title %} Home {% endblock title %} </title>
        
	{% block head_meta %}
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% endblock head_meta %}

        <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<script
  	src="https://code.jquery.com/jquery-3.3.1.min.js"
  	integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  	crossorigin="anonymous"></script>

    	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">        </script>
    
      <style>
        .navbar-dark {
        background-color: #000000;
        /*border-color: #E7E7E7;*/
        /*border-bottom: 1px solid #000000;*/
        }
	.btn {
	color: white;
	}
      </style>	
    </head>

    <body>

      <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="#">API Testing</a>
	<button type="button" class="btn btn-link">Rezdy</button>
	<button type="button" class="btn btn-link">Nutanix</button>
	<button type="button" class="btn btn-link">FileMaker</button>
      </nav>

    <div style="margin-top:100px;"></div>

    {% block content %}

    {% endblock content %}

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!--<script src="js/bootstrap.min.js"></script> -->
    </body>

</html>
